h1{
  font-family: sans-serif;
  font-style: italic;
  color: black;
  }
body{
 background-image: url(use.png);
 font-family: Helevitica;
 color:black;
 }
p.p1{
  font-family: inherit;
  color:black;
  text-align: left;
}
.info{
  text-align: center;
  background-color: white;
  padding: 18px;
  margin: 16px;
  border: 3px solid pink;
  font-family: Aharoni;
  color:black;
  font-size: 25px
}
body.newb{
background-image: image(colour.png);}
p1.second{
  font-family:Aharoni;
  font-size: 25px;
  color: black;

}
p.about{
   font-size: 20px;
   font-family: fantasy;
 }
 p.alt{
   font-family: Poor Richard;
   font-size: 30px;
   border: 3px solid red;
   border-width: thin;
   border-style:double;
   text-align: center;

 }
